@using SimpleSolution.ViewModels
@model HomeViewModel

@{
    ViewBag.Title = "HomeView";
}

<h2>HomeView</h2>


@foreach (var classroom in Model.Classrooms)
{
    <p>@classroom.Name</p>

    foreach (var studentsInClassroom in @classroom.Students)
    {
        <p>@studentsInClassroom.Name</p>
        <p>@studentsInClassroom.Surname</p>
    }
}

@foreach (var student in Model.Students)
{
    <p>@student.Name</p>
    <p>@student.Surname</p>
}

